body {
    background: url("../Assets/road.png");
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 100vw;
    overflow-x: hidden;
}

#runner {
    margin-top: 18%;
    background: url("../Assets/walk.png");
    width: 70px;
    height: 130px;
    animation: walk 1s steps(8) infinite, forward 10s linear infinite;
}

@keyframes walk {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -600px;
    }
}

@keyframes forward {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(1550px);
    }
}

